---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import EmpyState from '../components/EmpyState.astro'
import { Modal } from 'accessible-astro-components'
---

<DefaultLayout title="Products">
  <section>
    <h1>Products</h1><br>
    <p class="size-20">Lorem ipsum dolor sit amet.</p>
  </section>
  <section class="margin-32">
    <div class="space-content">
      <h2>Product overview</h2>
      <EmpyState>
        You haven't added any products yet. Start by adding some.
      </EmpyState>
      <button id="modal-trigger" class="button color-secondary">Add your first product</button>
      <Modal
        triggerId="modal-trigger"
        title="Add product"
        closeText="Cancel"
      >
        <p>You can use this component to include a form that adds a new product to the list.</p>
      </Modal>
    </div>
  </section>
</DefaultLayout>

<script>
  const params = window.location.search;

  const id = params.split('=');

  const myHeaders = new Headers();
  myHeaders.append("id", id[1]);
  myHeaders.append("Access-Control-Allow-Origin", "*");
  myHeaders.append("Access-Control-Allow-Credentials", "true");
  myHeaders.append("Access-Control-Allow-Headers", "Origin, X-Requested-With, Content-Type, Accept");
  myHeaders.append("Vary", "Origin");
  myHeaders.append("Host", "http://localhost:3000/");

  const requestOptions = {
    method: 'GET',
    headers: myHeaders,
    redirect: 'follow'
  };

  const resp = await fetch("http://localhost:8080/api/materiales/historico/", requestOptions);
  const respuesta = await resp.json();
  
  

  console.log(respuesta);
</script>