---
import Notification from './accessible-astro-components/Notification.astro';
import { Icon } from 'astro-icon'
---

<form class="crear-form space-content" method="post">
  <Notification type="warning">
    <Icon pack="majesticons" name="emoji-sad-line" /><p class="size-12">La petición no pudo ser procesada.</p>
  </Notification>
  <div class="crear-form__controls">
    <label for="idDistribuidor">Id de distribuidor</label>
    <input type="text" name="idDistribuidor" required>
  </div>
  <div class="crear-form__controls">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" required>
  </div>
  <div class="crear-form__controls">
    <label for="lugar">Lugar</label>
    <input type="text" name="lugar" required>
  </div>
  <div class="crear-form__controls">
    <label for="idDistribucion">Id de distribución</label>
    <input type="text" name="idDistribucion" required>
  </div>
  <button class="button color-secondary behavior-full" type="submit">Crear</button>
</form> 

<script>
  // variables
  const form = document.querySelector('.crear-form');
  const notification = form.querySelector('.notification');
  const idDistribuidor = form.querySelector('input[name="idDistribuidor"]');
  const nombre = form.querySelector('input[name="nombre"]');
  const lugar = form.querySelector('input[name="lugar"]');
  const idDistribucion = form.querySelector('input[name="idDistribucion"]');
  const submitButton = form.querySelector('button');

  // execution
  notification.style.display = 'none';

  submitButton.addEventListener('click', async(event) => {
    showLoader();
    event.preventDefault();

    const object = {
      idDistribuidor: idDistribuidor.value,
      nombre: nombre.value,
      lugar: lugar.value,
      idDistribucion: idDistribucion.value
    }

    const myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");

    const raw = JSON.stringify(object);

    const requestOptions = {
      method: 'POST',
      headers: myHeaders,
      body: raw,
      redirect: 'follow'
    }

    const resp = await fetch(`${import.meta.env.PUBLIC_API_URL}/distribuidores/`, requestOptions);
    const data = await resp.json();
    const status = resp.status;
    console.log(data);

    if(status === 200)
      location.reload();
    else {
      notification.style.display = 'block';
      notification.classList.add('notification--error');
      notification.querySelector('p').innerHTML = 'La petición no pudo ser procesada.';
    }
  });
</script>

<style lang="scss" is:global>
  @use '../assets/scss/base/border' as *;
  @use '../assets/scss/base/space' as *;

  .crear-form {
    label {
      display: block;
      margin-bottom: $space-8;
    }

    input {
      width: 100%;
      @include radius-small;
    }

    input {
      padding: $space-8;
      border: 2px solid var(--neutral-600);
    }

    .checkbox {
      display: flex;
      align-items: center;
      gap: $space-4;

      input {
        width: auto;
      }
    }
  }
</style>