---
---

<table class="table table-responsive-xl" style="display: none;">
    <thead>
      <tr>
        <slot name="th"/>
      </tr>
    </thead>
    <tbody id="tabla"></tbody>
  </table>

<style is:global>
    .invisible{
        display: none !important;
    }

    .agave{
        background-image: url('https://res.cloudinary.com/nodecafe/image/upload/v1663260183/Dashboard/agave_v4xbus.jpg');
    }

    .botella{
        background-image: url('https://res.cloudinary.com/nodecafe/image/upload/v1663260183/Dashboard/tequila_zmzwmo.jpg');
    }

    tr th:nth-child(1){
        width:fit-content;
    }

    tr th:nth-child(2){
        width:fit-content;
    }

    tr th:nth-child(3){
        width: fit-content;
    }

    tr th:nth-child(4){
        width: 30%;
    }

    table tbody tr:hover{
        cursor: pointer;
        background-color: var(--neutral-400);
    }

    .darkmode table tbody tr:hover{
        background-color: var(--neutral-600);
    }

    .alert {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 0.25rem; }

    .align-items-center {
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important; }
    
    .checkmark {
        position: absolute;
        top: 0;
        left: 0; }
    
    .d-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important; }

    .img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }

    .pl-3{
        padding-left: 1rem !important; }

    .table {
        min-width: 1000px !important;
        width: 100%;
        border-radius: 0.5rem;
        box-shadow: 7px 5px 10px rgba(0,0,0,0.29);
        -webkit-box-shadow: 7px 5px 10px rgba(0,0,0,0.29);
        -moz-box-shadow: 7px 5px 10px rgba(0,0,0,0.29);
    }

    .darkmode .table {
        min-width: 1000px !important;
        width: 100%;
        box-shadow: 5px 3px 10px rgba(255,255,255,0.29);
        -webkit-box-shadow: 5px 3px 10px rgba(255,255,255,0.29);
        -moz-box-shadow: 5px 3px 10px rgba(255,255,255,0.29); }

    .table {
        width: 100%;
        margin-bottom: 1rem;
        overflow-x: scroll;
    }

    .table thead tr {
        vertical-align: bottom;
        font-size: 1rem; 
        border-bottom: 4px solid black;}

    .table th,.table td {
        padding: 0.75rem;
        vertical-align: top;}

    .table tbody tr {
        margin-bottom: 10px; }

    .table tbody tr:last-child {
        border-bottom: 0; }

    .table tbody th, .table tbody td {
        font-size: 14px;
        vertical-align: middle; }

    .table tbody td.status span {
        position: relative;
        border-radius: 30px;
        padding: 4px 10px 4px 25px; }
        .table tbody td.status span:after {
        position: absolute;
        top: 9px;
        left: 10px;
        width: 10px;
        height: 10px;
        content: '';
        border-radius: 50%; }
        
    .table tbody td.status .active {
        background: #cff6dd;
        color: #1fa750; }

    .table tbody td.status .active:after {
        background: #23bd5a; }

    .table tbody td.status .waiting {
        background: #fdf5dd;
        color: #cfa00c; }
        .table tbody td.status .waiting:after {
        background: #f2be1d; }

    .table tbody td .img {
        width: 50px;
        height: 50px;
        border-radius: 50%; }

    .table tbody td .email span {
        display: block; }
        
    .table tbody td .email span:last-child {
        font-size: 12px;
        color: var(--font-color); }

    .table tbody td .close span {
        font-size: 12px;
        color: #dc3545; }
  
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; }
    .table-responsive-xl > .table-bordered {
      border: 0; } }

  </style>