---
import Notification from './accessible-astro-components/Notification.astro';
import { Icon } from 'astro-icon'
---

<form class="crear-form space-content" method="post">
  <Notification type="warning">
    <Icon pack="majesticons" name="emoji-sad-line" /><p class="size-12">La petición no pudo ser procesada.</p>
  </Notification>
  <div class="crear-form__controls">
    <label for="_idMaterial">Id de Material</label>
    <input type="text" name="_idMaterial" id="_idMaterial" required>
  </div>
  <div class="crear-form__controls">
    <label for="idTransporte">Id de Transporte</label>
    <input type="number" name="idTransporte" id="idTransporte" required>
  </div>
  <div class="crear-form__controls">
    <label for="origen">Origen</label>
    <input type="text" name="origen" id="origen" required>
  </div>
  <div class="crear-form__controls">
    <label for="destino">Destino</label>
    <input type="text" name="destino" id="destino" required>
  </div>
  <div class="crear-form__controls">
    <label for="fechaInicio">Fecha de inicio</label>
    <input type="datetime-local" name="fechaInicio" id="fechaInicio" required>
  </div>
  <div class="crear-form__controls">
    <label for="fechaFin">Fecha de llegada</label>
    <input type="datetime-local" name="fechaFin" id="fechaFin" required>
  </div>
  <button class="button color-secondary behavior-full" type="submit">Crear</button>
</form> 

<script>
  // variables
  const form = document.querySelector('.crear-form');
  const notification = form.querySelector('.notification');
  const _idMaterial = form.querySelector('input[name="_idMaterial"]');
  const idTransporte = form.querySelector('input[name="idTransporte"]');
  const origen = form.querySelector('input[name="origen"]');
  const destino = form.querySelector('input[name="destino"]');
  const fechaInicio = form.querySelector('input[name="fechaInicio"]');
  const fechaFin = form.querySelector('input[name="fechaFin"]');
  const submitButton = form.querySelector('button');

  // execution
  notification.style.display = 'none';

  submitButton.addEventListener('click', async(event) => {
    showLoader();
    event.preventDefault();

    const object = {
      _idMaterial: _idMaterial.value,
      idTransporte: idTransporte.value,
      origen: origen.value,
      destino: destino.value,
      fechaInicio: fechaInicio.value,
      fechaFin: fechaFin.value
    }

    const myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");

    const raw = JSON.stringify(object);

    const requestOptions = {
      method: 'POST',
      headers: myHeaders,
      body: raw,
      redirect: 'follow'
    }

    const resp = await fetch(`${import.meta.env.PUBLIC_API_URL}/transportes/`, requestOptions);
    const data = await resp.json();
    const status = resp.status;
    console.log(data);

    if(status === 200)
      location.reload();
    else {
      notification.style.display = 'block';
      notification.classList.add('notification--error');
      notification.querySelector('p').innerHTML = 'La petición no pudo ser procesada.';
    }
  });
</script>

<style lang="scss" is:global>
  @use '../assets/scss/base/border' as *;
  @use '../assets/scss/base/space' as *;

  .crear-form {
    label {
      display: block;
      margin-bottom: $space-8;
    }

    input {
      width: 100%;
      @include radius-small;
    }

    input {
      padding: $space-8;
      border: 2px solid var(--neutral-600);
    }

    .checkbox {
      display: flex;
      align-items: center;
      gap: $space-4;

      input {
        width: auto;
      }
    }
  }
</style>