---
import '../assets/scss/globals.scss'

const {title} = Astro.props
let subtitle = 'Tequila Wundertec'
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Miguel Yishay Rodriguez Enriquez & Sebastian Paredes Lopez" />
    <meta name="copyright" content="Wundertec" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">

    <!-- open graph -->
    <meta property="og:title" content="Wundertec Tequila">
    <meta property="og:description" content="Implementación de Blockchain por parte del equipo de Wundertec utilizando AstroJS, NodeJS y AWS">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://main.d19h8u6ts9lzi8.amplifyapp.com/">
    <meta property="og:image" content="https://res.cloudinary.com/nodecafe/image/upload/v1661527854/Dashboard/wundertec-logo-2_hry1os.png">

    <!-- page title -->
    <title>{title} - {subtitle}</title>
  </head>
  <body>
    <main id="main-content">
      <slot />
    </main>
  </body>
</html>